<%= form_for(@device) do |f| %>
    <% if @device.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being registered:</h2>

          <ul>
            <% @device.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tr>
        <td class="field" width="50%"><label for="device_uri" />URI</td>
        <td class="field"><%= f.text_field :uri %> <span>.device.sv.cmu.edu</span></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :device_type_id %></td>
        <td class="field"><%= f.select("device_type_id", options = @device_types.map { |d| [d.device_type, d.id] }) %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :device_agent_id %></td>
        <td class="field">
          <select name="device_agent_id">
            <% @device_agents.each do |da|%>    
                <option value="<%=da.id%>"><%=da.print_name%></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td class="field"><%= f.label :network_address %></td>
        <td class="field"><%= f.text_field :network_address %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :latitude %></td>
        <td class="field"><input type='text' name='lat' value="<%= @location.lat %>" /></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :longitude %></td>
        <td class="field"><input type='text' name='lon' value="<%= @location.lon %>" /></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :altitude %></td>
        <td class="field"><input type='text' name='alt' value="<%= @location.alt %>" /></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :position_format_type %></td>
        <td class="field">
          <select name='pos_fmt'>
            <option value='wgs84' <%= h 'selected' if @location.format == 'wgs84' %>>GPS - WGS84</option>
            <option value='xyz' <%= h 'selected' if @location.format == 'xyz' %>>XYZ Coordinates</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="text-align: right;" colspan="2">
            <div class="actions">
              <%= f.submit %>
            </div>
        </td>
      </tr>
    </table>
<% end %>
