<div class="container">
<% @page_title = "| Device | List" %>

<h1 style="text-align: left;">List of Devices</h1>

    <table class="table">
        <tr>
            <td>Device URI</td>
            <td>Device Type</td>
            <td>network_address</td>
            <td>physical_location</td>
            <td colspan='2'>Actions</td>
        </tr>
        <% @devices.each do |device| %>
        <tr>
            <td><%= link_to device.uri, edit_device_path(device) %></td>
            <td><%= device.device_type.device_type %></td>
            <td><%= device.network_address %></td>
            <td><% unless device.location.blank? %>
                <%= "lat: #{device.location.lat}" unless device.location.lat.nil? %><%= ", lon: #{device.location.lon}" unless device.location.lon.nil? %><%= ", alt: #{device.location.alt}" unless device.location.alt.nil? %>
            <% end %></td>
            <td><%= link_to 'Edit', edit_device_path(device) %></td>
            <td><%= link_to 'Delete', device, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
        <% end %>
    </table>
<%= link_to 'New', new_device_path %> | <%= link_to 'Back', dashboard_path %>
</div>