<% @page_title = "| Device Types | List" %>

<h1 style="text-align: left;">List of Device Types</h1>

    <table class="table">
        <tr>
            <td>device_type</td>
            <td>manufacturer</td>
            <td>version</td>
            <td>metadata</td>
            <td colspan='2'>Actions</td>
        </tr>
        <% @device_types.each do |device_type| %>
        <tr>
            <td><%= device_type.device_type %></td>
            <td><%= device_type.manufacturer %></td>
            <td><%= device_type.version %></td>
            <td><%= device_type.metadata %></td>
            <td><%= link_to 'Edit', edit_device_type_path(device_type) %></td>
            <td><%= link_to 'Delete', device_type, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
        <% end %>
    </table>

<%= link_to 'Back', root_path %>
