<%= form_for(@sensor_type) do |f| %>
    <% if @sensor_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sensor_type.errors.count, "error") %> prohibited this device from being registered:</h2>

          <ul>
            <% @sensor_type.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>
      <tr>
        <td class="field" width="50%"><%= f.label :property_type %></td>
        <td class="field"><%= f.text_field :property_type %></td>
      </tr>
      <tr>
        <td class="field" width="50%"><%= f.label :metadata_json %></td>
        <td class="field"><%= f.text_field :metadata_json %></td>
      </tr>
      <tr>
        <td style="text-align: right;" colspan="2">
            <div class="actions">
              <%= f.submit %>
            </div>
        </td>
      </tr>
    </table>
<% end %>

<section class="intro clearfix">
    <div class="limiter">
        <div class="item">
          <a href="#">
            <h3>TODOs:</h3>
            <p>
                <ul>
                    <li>add manufacturer key to model (MitsubishiA2323)</li>
                    <li>separate out "property type" (which currently acts as a key) from print_name/physical description</li>
                    <li>provide facility to edit conversion methods (a dropdown that allows you to pick threshold.Alternatively if you choose polynomial, then it displyas options to populate coefficient)
                    </li>
                    <li>The conversion mentioned above is from the manufacturer's documentation. If a general conversion is preferred like deg C to deg F, create a virtual sensor as a wrapper to this.</li>
                </ul>

            </p>
          </a>
        </div>
    </div>
</section>
