<div class="container">
<% @page_title = "| Sensor Types | List" %>

<h1 style="text-align: left;">List of Sensor Types</h1>

    <table class="table">
        <tr>
            <td>id</td>
            <td>property_type</td>
            <td>metadata_json</td>
            <td colspan='2'>Actions</td>
        </tr>
        <% @sensor_types.each do |sensor_type| %>
        <tr>
            <td><%= sensor_type.id %></td>
            <td><%= sensor_type.property_type %></td>
            <td><%= sensor_type.metadata_json %></td>
            <td><%= link_to 'Edit', edit_sensor_type_path(sensor_type) %></td>
            <td><%= link_to 'Delete', sensor_type, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
        <% end %>
    </table>

<%= link_to 'New', new_sensor_type_path %> | <%= link_to 'Back', dashboard_path %>
</div>