<div class="container">
<% @page_title = "| Sensors | List" %>

<h1 style="text-align: left;">List of Sensors</h1>

    <table class="table">
        <tr>
            <td>guid</td>
            <td>Sensor Type</td>
            <td>Parent Device</td>
            <td colspan='2'>Actions</td>
        </tr>
        <% @sensors.each do |sensor| %>
        <tr>
            <td><%= sensor.guid %></td>
            <td><%= sensor.sensor_type_id %></td>
            <td><%= link_to sensor.device.uri, device_path(sensor.device) %></td>
            <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
            <td><%= link_to 'Delete', sensor, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
        <% end %>
    </table>

<%= link_to 'New', new_sensor_path %> | <%= link_to 'Back', dashboard_path %>
</div>
