<!DOCTYPE html>
<html>
<head>
  <title>Carnegie Mellon Silicon Valley - Sensor Data Storage <%= @page_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="inner">
      <div class="pull-left">
        <h3 class="title-link">
          <%= link_to "Carnegie Mellon University Silicon Valley", root_path %>
        </h3>
      </div>
      <div class="actions pull-right">
        <h5>
          <%= link_to "Dashboard", dashboard_path %>
          <%= link_to "Sensors", sensors_path %>
          <%= link_to "Devices", devices_path %>
          <%= link_to "Device Agents", device_agents_path %>
          <%= link_to "Sensor Types", sensor_types_path %>
          <%= link_to "Device Types", device_types_path %>
          <% if current_user %>
            <span><%= "Welcome #{current_user.email}" %></span>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
          <% end %>
        </h5>
      </div>
    </div>
  </header>

  <%= yield %>

  <footer class="footer">
    <div class="inner">
      <div class="pull-right">
        Copyright © Carnegie Mellon University - Silicon Valley Campus.
      </div>
    </div>
  </footer>
  <%= javascript_include_tag :application %>
</body>

</html>
