<!DOCTYPE html>
<html>
<head>
  <title>Carnegie Mellon Silicon Valley - Sensor Data Storage <%= @page_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="inner">
      <div class="pull-left">
        <h2>
          Carnegie Mellon University
        </h2>
      </div>
      <div class="actions pull-right">
        <h5>
          <% if current_user %>
            <span><%= "Welcome #{current_user.email}" %></span>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
          <% end %>
        </h5>
      </div>
    </div>
  </header>


  <%= yield %>


  <footer class="footer">
    <div class="inner">
      <div class="pull-right">
        Copyright © Carngie Mellon University - Silicon Valley Campus.
      </div>
    </div>
  </footer>
  <%= javascript_include_tag :application %>

</body>

</html>
