<!DOCTYPE html>
<html>
<head>
  <title>Carnegie Mellon Silicon Valley - Sensor Data Storage <%= @page_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="inner">
      <div class="pull-left">
        <h2>
          Carnegie Mellon University
        </h2>
      </div>
      <div class="actions pull-right">
        <h5>
          <% if current_user %>
            <span><%= "Welcome #{current_user.email}" %></span>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
          <% end %>
        </h5>
      </div>
    </div>
  </header>

  <div id="main-div" class="container-fluid">
    <div class="span3">
      <div class="left-part hidden">
        <div class="sensor-tree-div">
          <h5>Sensor Tree</h5>
          <div id="sensor-tree">
          </div>
        </div>
        <div>
          <span class="help-inline">Chart type: </span>
          <select id="chartType">
            <option>Line</option>
            <option>Pie</option>
          </select>
        </div>
        <div>
          <span class="help-inline">Start from: </span>
          <input id="startDate" type="text" class="datepicker">
        </div>
        <div>
          <span class="help-inline">End to:</span>
          <input id="endDate" type="text" class="datepicker">
        </div>
        <div>
          <button id="submit" type="button" class="btn btn-primary">Check it out!</button>
        </div>
      </div>
      <div>
        <div class="links">
          <%= link_to "Sensors", sensors_path %>
        </div>
        <div class="links">
          <%= link_to "Devices", devices_path %>
        </div>
        <div class="links">
          <%= link_to "Device Agents", device_agents_path %>
        </div>
        <div class="links">
          <%= link_to "Sensor Types", sensor_types_path %>
        </div>
        <div class="links">
          <%= link_to "Device Types", device_types_path %>
        </div>
      </div>
    </div>
    <div class="span11">
      <%= yield %>
    </div>
  </div>

  <footer class="footer">
    <div class="inner">
      <div class="pull-right">
        Copyright © Carnegie Mellon University - Silicon Valley Campus.
      </div>
    </div>
  </footer>
  <%= javascript_include_tag :application %>
</body>

</html>
